<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Django Blog</title>
    <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
</head>
<body>
    <div id="header">
        <ul id="control-bar">
        {% if user.is_authenticated %}
            <li>Welcome {{ user.username }}</li>
            <li></li>
            {% if user.is_staff %}<li><a href="{% url 'admin:index' %}">admin</a></li>{% endif %}

            <li><a href="{% url 'account_logout' %}">logout</a></li>

            {% else %}
            <li><a href="{% url 'account_login' %}">login</a></li>
            <li><a href="{% url 'account_signup' %}">signup</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="container">
        <div id="content">
            {% block content %}
            [content will go here]
            {% endblock %}
        </div>
    </div>
</body>
</html>